# RED WINE QUALITY

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/winequality-red.csv")

In [ ]:
type(df)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df.info()

# SUMMARY STATISTICS

In [ ]:
df.describe()

Key Observation:

1. The mean is more than median (50th percentile) in all the columns
2. There is a large difference in 75% percentile and max in residual sugar,free sulfur dioxide,total sulfar dioxide
3. The 1 and 2 observation suggest that there are extreme outliers present in these three columns

Exploring Data variable

In [ ]:
df.quality.unique()

Target/dependent variable is discrete and categorical in nature 

quality score scale ranges from 3 to 8 :
where 3 is low quality and 8 is best

Only scores obtained are between 3 to 8.

In [ ]:
df.quality.value_counts()

Observations:
    quality has most values concentrated in the categorical of 5,6,7
    few observations are present in the categories in 3 and 8.

# DATA VISUALIZATION

In [ ]:
#To check missing values

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
sns.heatmap(df.isnull())

Dataset has no missing values

# TO check correlation

In [ ]:
dfcor=df.corr()
dfcor

In [ ]:
sns.heatmap(dfcor)

In [ ]:
plt.figure(figsize=(6,4))
sns.heatmap(dfcor,cmap='Blues',annot=True)

Observation 
Dark shades are highly correlated

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(dfcor,cmap='YlOrRd_r',annot=True)

Light shades are highly correlated 

Quality is highly correlated with alcohal

alcohal is highly negatively correlated with denisty with -0.5 (see in dark maroon shade)
density is highly positively correlated with residual sugar
volatile acidity is negatively correlated with quality 
free sulphuric acid is highly correlated with total sulfer dioxode

hence we can volatile acidity from the dataset if we are doing the linear regression

# Plotting Outliers

In [ ]:
df.columns

In [ ]:
#univariate analysis
df['fixed acidity'].plot.box()

In [ ]:
df['citric acid'].plot.box()

In [ ]:
df['free sulfur dioxide'].plot.box()

In [ ]:
df['total sulfur dioxide'].plot.box()

In [ ]:
df.shape

In [ ]:
df.plot(kind='box',subplots=True,layout=(2,6),figsize=(10,10))

To check distribution of skewness

In [ ]:
sns.displot(df['density'])

In [ ]:
sns.displot(df['citric acid'])

In [ ]:
df.plot(kind='kde',subplots=True,layout=(2,6),figsize=(15,6))

In [ ]:
#bivariate analysis
plt.scatter(df['pH'],df['quality'])

In [ ]:
sns.pairplot(df)

In [ ]:
plt.scatter(df['volatile acidity'],df['quality'])
plt.show()

In [ ]:
df.drop('volatile acidity',axis=1,inplace=True)
df.head()

In [ ]:
df.shape

# Removing Outliers

In [ ]:
from scipy.stats import zscore
z=np.abs(zscore(df))
z

In [ ]:
threshold=3
print(np.where(z>3))

In [39]:
z[13][8]

5.32210116796055

In [40]:
z[1589][2]

3.732701384742145

In [41]:
df_new=df[(z<3).all(axis=1)]

In [42]:
df_new

,fixed acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [43]:
df.shape

(1599, 11)

In [44]:
df_new.shape

(1458, 11)